*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: border-box;
}
html,body{
  min-height: 100%;
}
body{
  background-image: radial-gradient(mintcream 0%, gray 100%);
  font-family: "Trebuchet MS";
}
.wrap{
  width: 300px;
  height: auto;
  margin: 50px auto;
  border-radius: 20px;
  border: solid 8px #2c3033;
  background: white;
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
  0 0 0px 3px #2c3033;
}
.wrap:after{
  content: '';
  display: table;
  clear: both;
}
.header{
  width: 100%;
  height: 50px;

  border-radius: 10px 10px 0 0px;
  background-image: linear-gradient(#687480 0%, #3b4755 100%);
  font: bold 18px/50px arial;
  text-align: center;
  color: white;
  box-shadow: inset 0 -2px 3px 2px rgba(0,0,0,.4),
  0 2px 2px 2px rgba(0,0,0,.4);
}
span{
  display: block;
  width: 100%;
  height: 90%;
  border-bottom: dashed 2px #54687a;
}
.wrap-list{
  height: 85%;
  padding: 20px 0;
  box-shadow: inset 0 0 5px black;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(transparent 97%, gray 100%);
}
.wrap-list:after{
  content: '';
  display: table;
  clear: both;
}

.edit {
  position: ;
  font-size: 0.7em;
}

.list input[type="text"] {
  border: 2px solid goldenrod;
  display: none;
  padding: 8px 10px 8px 5px;
  position: absolute;
  left: 33px;
  cursor: text;
  float: left;
  width: 60%;
}

.edit {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
  position: absolute;
  left: 210px;
  top: 12px;
  height: 15px;
  width: 13%;
  background: linear-gradient(gold 0%, goldenrod 100%);
}

.edit:hover{
  background: gold;
}

input[type="text"].editMode {
  display: block;
}

label.editMode {
  display: none;
}

input[type="checkbox"].editMode {
  display: none;
}

input[type="checkbox"]{
  cursor: pointer;
  position: relative;
  top: 14px;
  right: 12px;
  float: right;
}
input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color: rgba(0,0,0,.3);
}
.list{
  list-style: none;
  color: rgba(0,0,0,.7);
}
.list li:nth-child(odd){
  background: rgba(0,0,50,.1);
}
.list li{
  float: left;
  width: 100%;
  position: relative;
}
label{
  padding: 10px 10px 10px 35px;
  float: left;
  width: 95%;
  transition: all .3s ease;
}

.delete{
  position: absolute;
  top: 9px;
  left: 10px;
  color: white;
  background: linear-gradient(red 0%, darkred 100%);
  border-radius:10px;
  width: 20px;
  height: 20px;
  padding: 0 0 0 5px;
  transform: scale(.8);
  user-select: none;
  cursor: pointer;
}
.delete:hover{
  background: red;
}

.new-todo-text{
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 14px;
}

.new-todo-input{
  border: 1px solid rgba(0,0,0,.3);
  padding: 10px;
  margin: 5px auto;
  width: 80%;
  display: block;
}

.add-btn {
  width: 80%;
  display: block;
  color: white;
  text-align: center;
  padding:10px;
  margin: 0 auto 5px;
  background-image: linear-gradient(#687480 0%, #3b4755 100%);
  text-decoration: none;
  border-radius: 10px;
}

.add-btn:hover{
  background-image: linear-gradient(#3b4755 0%, #687480 100%);
}

